# Adding config.py file.
api_keys.py

#API practice and random numbers
API_practice.ipynb

random_numbers.ipynb

WeatherPy/_pycache_/api_keys.cpython-38.pyc/folder_to_ignore/
api_keys.cpython-38.pyc
**/__pycache__/
